.categories {
    display: flex;
    gap: 10px;
    padding: 20px;
    justify-content: center; 
    width: 90%;
    margin: auto;
}
h1 {
  position: relative; 
  text-align: center;
  width: fit-content;
  margin: 40px auto 0px; 
  background: linear-gradient(135deg, #4A0E17 0%, #800020 40%, #B83B5E 50%, #800020 60%, #4A0E17 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: 40px;
}


h1::before {
  content: "";
  position: absolute;
  left: -270px; 
  top: 50%;
  transform: translateY(-50%);
  width: 250px;
  height: 3px;
  background: linear-gradient(135deg, #916401 0%, #644202 100%);
  border-top-left-radius: 60%;
  border-bottom-left-radius: 60%;
}


h1::after {
  content: "";
  position: absolute;
  right: -270px; 
  top: 50%;
  transform: translateY(-50%);
  width: 250px;
  height: 3px;
  background: linear-gradient(135deg, #644202 0%, #916401 100%);
  border-top-right-radius: 60%;
  border-bottom-right-radius: 60%;
}
.books {
    width: 190px;
    height: 330px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #C28D56;
    border-bottom: 5px solid #C28D56;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    overflow: hidden;
    flex-direction: column;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.books:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease ;
}

.books img {
    width: 100px;
    height: 75px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    
}

.books h3 {
    margin: 8px 0 0;
    font-size: 15px;
    text-align: center;
    line-height: 1.2;
    padding-top: 10px;
    padding-bottom: 10px;
}
.books .book-icons {
    display: flex;
    gap: 15px;
    margin-top: auto; 
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 3px;
}
.books .book-icons i {
    font-size: 18px;
    color: #b77904;
    cursor: pointer;
    transition: duration 0.1s ease;
    padding-top: 40px; 
    padding-bottom: 10px;
    
}

.books .book-icons:hover i{
    color: rgb(101, 79, 56);
    transform: scale(1.1);
    transition: 0.3s ease;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.button {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: -110px;
    padding-bottom: 200px;
    padding-top: 5px;
    color :#b77904
}
.h3 {
    font-size: 25px;
    color: #b77904;
    border: 1px solid #b77904;
    padding: 10px 20px;
    border-radius: 115px;
    cursor: pointer;
    transition: all 0.3s ease;
    
}

.h3:hover {
    background-color: #b77904;
    color: #fff;
    transform: scale(1.05);
    transition: all 0.3s ease;
}
.book-icons .btn{
    font-size: 17px;
    color: #b77904;
    border: 1px solid #b77904;
    padding: 10px 20px;
    border-radius: 115px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 10px;
}


.btn:hover {
    background-color: #b77904;
    color: #fff;
    transform: scale(1.05);
    transition: all 0.3s ease;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
/* carousel */

/* main container */

.css-carousel {
    position: relative;
    width: 100%;
    height: 511px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 15px;
}

/* Radio Button*/
.css-carousel input[type="radio"] {
    display: none;
}

/* التراك اللي شايل السلايدات */
.carousel-track {
    display: flex;
    width: 300%; /* العرض الإجمالي (100% لكل سلايد) */
    height: 100%;
    transition: transform 0.5s ease-in-out; /* smooth transition*/
}

/* السلايد الواحد */
.carousel-slide {
    width: 33.333%; /* تلت المساحة الكلية */
    height: 100%;
    position: relative;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---  التنقل --- */
#ctrl-1:checked ~ .carousel-track { transform: translateX(0); }
#ctrl-2:checked ~ .carousel-track { transform: translateX(-33.333%); }
#ctrl-3:checked ~ .carousel-track { transform: translateX(-66.666%); }

/* تنسيق الأسهم */
.carousel-arrows {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* عشان ما يغطيش على السلايدر نفسه */
    z-index: 10;
}

/* إخفاء كل الأسهم افتراضياً */
.arrows-group {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: none;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

/* إظهار الأسهم الخاصة بالسلايد الشغال دلوقتي بس */
#ctrl-1:checked ~ .carousel-arrows .slide1-arrows,
#ctrl-2:checked ~ .carousel-arrows .slide2-arrows,
#ctrl-3:checked ~ .carousel-arrows .slide3-arrows {
    display: flex;
}

/* تصميم السهم نفسه */
.arrow {
    color:  #b77904;
    font-size: 28px;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    pointer-events: auto; /* بنرجع تفعيل الضغط على الأسهم بس */
    border: 1px solid rgba(43, 21, 2, 0.927);
    user-select: none;
}

.arrow:hover {
    color: #c49439;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
}

