/*Category Page CSS*/


.categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;

}
.categories-column {
    width: 25%;
}
.categories-header {
    display: block;
    width: 100%;
    gap: 15px;
    margin-top: 5%;

}
.category-card {
    box-sizing: border-box;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease;
    background: #FCFAF9;
    border: 1px solid #EBE5E1;
}
.category-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

}

.category-card h3 {
    color: #3A0D13;
    font-size: 20px;
    text-align: center;

}

    
.categories-container a {
    text-decoration: none;
}



.categories-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px 20px;
}

.categories-grid > a {
    height: 100%;
}

.category-card {
    height: 100%;
    border: 1px solid #bd8a00;
    border-bottom: 4px solid #bd8a00;
}
.category-card img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.categories-container h1 {
  background: linear-gradient(135deg, #4A0E17 0%, #800020 40%, #B83B5E 50%, #800020 60%, #4A0E17 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  text-align: center;
  position: relative;
}
.categories-container p{
    text-align: center;
    color: #3A0D13;
}

.categories-container .categories-header h1::after {
    content: "";
    position: absolute;
    right: 21%;
    bottom: 51%;
    background: linear-gradient(135deg, #644202 10%, #efd289 30%, #916401 80%);

    width: 200px;
    height: 3px;
    border-top-right-radius: 60%;
    border-bottom-right-radius: 60%;
}

.categories-container .categories-header h1::before {
    content: "";
    position: absolute;
    left: 21%;
    bottom: 51%;
    background: linear-gradient(135deg, #916401 30%, #efd289 60%, #644202 90%);
    width: 200px;
    height: 3px;
    border-top-left-radius: 60%;
    border-bottom-left-radius: 60%;
}
