
/*  navigation bar */
*{
    font-family: sans-serif;
    text-decoration: none;
    margin: 0;
}
.navbar{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007ea7;   

}
.nav-links{
    list-style: none;
    display: flex;
    gap: 5%;
    padding: 0;
    margin-left: 70px;
}
.nav-links a button{
    border: none;
    border-radius: 10px;
    font-size: 140%;
}
.nav-icons{
    display: flex;
    gap: 3%;
    align-items: center;

}
.icon-btn{
    background-color: #007ea7;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

#search{
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
    width: 400px;
    margin: 10px;
       
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    margin-left: 70px;
}

/*  Categories */

.categories{
    text-align: center;
    margin-top: 20px;
    font-size: 3rem;
    font-weight: 700;
}
.card1 , .card2 , .card3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}
.card{
    display: grid;
    background-color: white;
    padding: 30px;
    width: 20%;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px gray;
    background-color: #98C1D9;
    
    
}
.card a h3{
    color: black;
    margin: 10px;
}

.product{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    align-items: center;
    margin: 0 auto;
}
.cartlogo{
    width: 10%;
}
.cards button{
    border-radius: 20px;
    height: 50px;
    border: none;
    font-size: larger;
}
 /* footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
    margin: 300px 10px 10px 10px;
    border-radius: 15px;
    background-color: #007ea7;   
}

.footer-links a, .social-links a {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
    font-size: 0.9rem;
}

.copyright {
    font-weight: bold;
}