
/*  navigation bar */
*{
    font-family: sans-serif;
    text-decoration: none;
    margin: 0;
    font-optical-sizing: auto;
    
}
html , body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
.logo{
    color: white;
}
.navbar{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #B19A81;   

}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin-left: 20px;
}
.nav-links a button{
    text-decoration: none;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    cursor: pointer;
}
.nav-links a button:hover{
    background-color: #FAEDCD;
    color:#a89b8c;
    transform: translateY(-2px);
}
.nav-icons{
    display: flex;
    gap: 3%;
    align-items: center;
}
.icon-btn{
    background-color: #B19A81;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.icon-btn:hover{
    transform: scale(1.2);
}
.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
#search{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding: 0 10px 0 40px;
    transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    cursor: pointer;
       
}
#search:focus{
    width: 200px;
    cursor: text;
}
.search-icon{
    position: absolute;
    left: 212px;
    color: #007EA7;
    pointer-events: none;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    margin-left: 70px;
}

/*  Categories */

.categories{
    text-align: center;
    margin-top: 20px;
    font-size: 3rem;
    font-weight: 700;
}
/* .banner img{
    width: 100%;
    height: 400px;
} */
.card1 , .card2 , .card3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    opacity: 1;
    transform: translateY(-30px);
    transition: all 1.5s ease-in-out;
    gap: 50px;
    
}
.card{
    display: grid;
    background-color: #FDF8E1;
    margin-top: 90px;
    border-radius: 20px;
    box-shadow: 0 0 10px gray;
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out 0.2s;
}
.card:hover{
    transform: scale(1.1);
    border: 1px solid #000;
}
.card a h3{
    color: black;
    margin: 10px;
}

.product{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    align-items: center;
    margin: 0 auto;
}
.cartlogo{
    width: 10%;
}
.card button{
    border-radius: 20px;
    height: 50px;
    border: none;
    font-size: larger;
    transition: all 0.3s ease ;
}
.card button:hover{
    border: 1px solid #000;
    transform:scale(1.02) ;
    background-color: #D2BBA0;
}

 /* footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 100px 10px 10px 10px;
    border-radius: 15px;
    background-color: #B19A81;
}

.footer-links a, .social-links a {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
    font-size: 0.9rem;
}
.copyright {
    font-weight: bold;
}




/* cart */

.cart{
    position: fixed;
    top: 0;
    right: 0px;
    bottom: 0;
    z-index: 1100;
    background: bisque;
    border: 2px solid black;
    width: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}.cart .active{
    right: 0x;
}
.cart .top_cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart .top_cart .close_cart i{
    cursor: pointer;
    font-size: 25px;
}
.cart .items_in_cart{
    padding: 20px 0;
    border-block: 1px solid black;
    margin-block: 20px;
    height: 100%;
    overflow-y: auto;

}
.cart .items_in_cart .item_cart{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 125px;
    border-bottom: 1px solid black;
    
}
.cart .items_in_cart .item_cart img{
    width: 80px;
}
.cart .items_in_cart .item_cart h4{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;


}
.cart .items_in_cart .item_cart .delete_item i{
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}
.cart .items_in_cart .item_cart .delete_item i:hover{
    color: red;
}
.cart .items_in_cart .item_cart .quantity_comntrol{
    display: flex;
    align-self: center;
    gap: 5px;
    margin-top: 5px;

}
.cart .items_in_cart .item_cart .quantity_comntrol span{
    font-size: 18px;
    display: flex;
    min-width: 40px;
    justify-items: center;
    align-items: center;

}

.cart .items_in_cart .item_cart .quantity_control button{
    width: 27px;
    height: 27px;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    border-radius: 2px;
    border: 1px solid black; 
    cursor: pointer;
}
.cart .bottom_cart .total{
    display: flex;

    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
}
.cart .bottom_cart .button_cart{
    display: flex;
    gap: 20px;
}
.cart .bottom_cart .button_cart .btn_cart{
    text-transform: uppercase;
    border: 1px solid gray;
    cursor: pointer;
    background: #FAEDCD;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 20px;
    padding: 10px;
    transition: 0.3s;
}

.cart .bottom_cart .button_cart .trans_bg{
    background:transparent;

}

