/* Reset like wiping a dusty motherboard */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Body styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

/* Navbar */
.logo{
    color: white;
}
.navbar{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #B19A81;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin-left: 20px;
    text-decoration: none;
}
.nav-links a button{
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    cursor: pointer;
}
.nav-links a button:hover{
    background-color: #FAEDCD;
    color:#a89b8c;
    transform: translateY(-2px);
}
.nav-icons{
    display: flex;
    gap: 3%;
    align-items: center;
}
.icon-btn{
    background-color: #B19A81;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.icon-btn:hover{
    transform: scale(1.2);
}
.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
#search{
    width: 50px;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding: 0 10px 0 40px;
    transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    cursor: pointer;
       
}
#search:focus{
    width: 200px;
    cursor: text;
}
.search-icon{
    position: absolute;
    left: 212px;
    color: #007EA7;
    pointer-events: none;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    margin-left: 70px;
}

/* Product container */
body > img {
    display: block;
    margin: 40px auto;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 0 25px gray;
}

/* Title */
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

/* Section styling */
p {
    margin: 0 40px 20px;
}

/* Product Card Feel */
p , .suggest{
    background-color: #d2bba0;
    padding: 20px;
    border-radius: 12px;
    margin: 10px 40px 20px;
    border: 1px solid #000;
}

/* Specs list */
ul {
    list-style: none;
}

.suggest li{
    padding: 8px 0;
    border-bottom: 1px solid #1e293b;
}

ul li:last-child {
    border-bottom: none;
}

/* Button */
button {
    display: block;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 100px 10px 10px 10px;
    border-radius: 15px;
    background-color: #B19A81;
}

.footer-links a, .social-links a {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
    font-size: 0.9rem;
}
.copyright {
    font-weight: bold;
}